.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 3%;
    margin-top: 20px;
    height: 40px;
}
.navbar>img{
   height: 80%;
}
.navbar>button{
   color: white;
   background-color: red;
   padding: 0px 10px;
   font-weight: 500;
   letter-spacing: 1px;
   height: 30px;
   border-radius: 5px;
}

.outerDiv{
    background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/login/login-the-crown_2-1500x1000.jpg);
}
.mainDIv{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainDIv>div{
   margin: auto;
   width: 440px;
   padding: 30px;
   background-color: white;
   display: flex;
   flex-direction: column;
   gap: 10px;
   font-size: 17px;
}
.mainDIv>div>h3{
   font-size: 30px;
   font-weight: 700;
}
.mainDIv>div>button{
   background-color: #0080ff;
   width: 100%;
   color: white;
   padding: 5px 0px;
}








.footer{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:-100;
    position: relative;
    margin-top: 82px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.FooterBlackBackground{
    width: 100%;
    height: 257px;
    background-color: black;
    opacity: 75%;
}
.footer>div:nth-child(2){
    position: absolute;
    top: 0;
    color:rgb(169, 169, 169) ;
}

.footerDiv{
    width: 100%;
    max-width: 1000px;
    height: 100%;
    padding: 30px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerDiv>p{
    color:rgb(105, 105, 105) ;
}
.footerDiv>ul{
    width: 100%;
    color:rgb(105, 105, 105) ;
    display: grid;
    font-size: 13px;
    grid-template-columns:auto auto auto auto;
    grid-template-rows: auto auto;
    row-gap: 15px;
    list-style: none;
    justify-content: space-between;
}
.LanguageSelecter{
    width: 150px;
    border: 1px solid gray;
    padding: 10px 10px;
    background-color: black;
}
.LanguageSelecter>select{
    background-color: transparent;
    border: none;
    color: white;
    color:rgb(105, 105, 105) ;
    margin-left: 10px;
    accent-color: rgb(132, 131, 131) ;
}
.LanguageSelecter>select:focus{
   outline: none;
    accent-color: rgb(132, 131, 131) ;
}
.LanguageSelecter>span{
    color: transparent;  
  text-shadow: 0 0 0 rgb(105, 105, 105) ;
}


@media screen and (max-width:700px) {
    .footer{
        margin-top: 5px;
    }
    .FooterBlackBackground{
        height: 250px;
        background-color: black;
        opacity: 0%;
    }
    .footerDiv{
        padding: 3% 5%;
    }
    .footerDiv>ul{
        grid-template-columns:auto auto auto;
        grid-template-rows: auto auto;
    }
}


@media screen and (max-width:500px) {
    
    .footerDiv>ul{
        grid-template-columns:auto auto;
        grid-template-rows: auto auto auto;
    }
    .mainDIv>div{
        margin: auto;
        width: 85%;
        padding: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 14px;
     }
   
}

@media screen and (max-width:370px) {
   
    
    .footerDiv>ul{
        font-size: 11px;
        row-gap: 10px;
    }
    .footerDiv>p{
        font-size: 15px;
    }
    .LanguageSelecter{
        width: 120px;
        padding: 10px;
        font-size: 15px;
    }
    .LanguageSelecter>select{
        font-size: 12px;
    }
    .FooterBlackBackground{
        width: 100%;
        height: 200px;
        background-color: black;
        opacity: 75%;
    }
}
@media screen and (max-width:250px) {
    .footerDiv>ul{
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        /* background-color: #170101; */
    }
   
}