.banner{
    position: relative;
}
.banner>img{
    width: 100%;
    z-index: 3;
}
.bannerReplacement{
    /* banner image size: 1519/855; */
    padding-top: 56.28%;
    background-color: black;
}
.blurBackground{
    background-color: rgba(0, 0, 0, 0.363);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
.blurBackground::after{
    content: '';
    background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.627) ,transparent);
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
}
.blurBackground::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    background: linear-gradient(transparent,black);
}
.bannerInfoDiv{
    width: 50%;
    position: absolute;
    left: 4%;
    top: 40%;
}
.bannerInfoDiv>h3{
 font-size: 50px;
 font-stretch: ultra-expanded;
 font-weight: 800;
 text-transform: uppercase;
}
.bannerInfoDiv>p{
    font-size: 20px;
    font-weight: 500;
}
.bannerInfoDiv>div{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
.bannerInfoDiv>div>button{
   color: black;
   background-color: white;
   display: flex;
   align-items: center;
   border: none;
   font-size: 20px;
   font-weight: 600;
   padding:5px 25px;
   border-radius: 5px;
}
.bannerInfoDiv>div>button:nth-child(2){
   color: white;
   background-color: rgba(109, 109, 110, 0.7);;
   gap: 10px;
}
.bannerInfoDiv>div>button>span{
   font-size: 40px;
}
.bannerInfoDiv>div>button:nth-child(2)>span{
   font-size: 30px;
}

.listMainDiv{
    position: relative;
    top: -200px;
    background-color: transparent;
    color: white;
}
